[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pyarrow = "==2.0.0"
pandas = "*"
bokeh = "*"
scipy = "*"
tqdm = "*"
xlrd = "*"
openpyxl = "*"
umap-learn = "*"
pandas-bokeh = "*"

[dev-packages]

[requires]
python_version = "3.8"
